<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com"
    package="org.wolf.volkaufengine">

    <!-- Разрешения на работу с файлами сборки в Документах -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Наше игровое окно VolkAufEngineActivity запускается строго горизонтально (landscape) -->
        <activity
            android:name=".VolkAufEngineActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
